.primrose-yellow { color: #f6d257; }.
.pale-dogwood    { color: #efcec5; }
.hazelnut        { color: #d1af94; }
.island-paradise { color: #97d5e0; }
.greenery        { color: #88b14b; }
.flame           { color: #ef562c; }
.pink-yarrow     { color: #d13877; }
.niagara         { color: #5587a2; }
.kale            { color: #5c7148; }
.lapis-blue      { color: #0c4c8a; }

.bg-primrose-yellow { background-color: #f6d257; }
.bg-pale-dogwood    { background-color: #efcec5; }
.bg-hazelnut        { background-color: #d1af94; }
.bg-island-paradise { background-color: #97d5e0; }
.bg-greenery        { background-color: #88b14b; }
.bg-flame           { background-color: #ef562c; }
.bg-pink-yarrow     { background-color: #d13877; }
.bg-niagara         { background-color: #5587a2; }
.bg-kale            { background-color: #5c7148; }
.bg-lapis-blue      { background-color: #0c4c8a; }
